// scss variables

$txdetail-bg: #9cd5e4;
$menu-bg: #337ab7;
$menu-bg-hover: #559cd9;
$menu-bg-border: #2269a6;
$undetect: #eebbcb;

$right-pane-width: 300;
$right-pane-left: 350;

$default: #588BC1;
$earth-color: #5C7886;
$autumn: #927760;
$vivid: #D50057;
$yokogawa: #5c7886;

$button-default: #376495;

$default-menu-item: #85A9D1;
$earth-color-menu-item: #89A874;
$autumn-menu-item: #C59E57;
$vivid-menu-item: #FF4784;

.default {
  background-color: $default;
}

.button-default {
  background-color: $button-default;
}

.earthcolor {
  background-color: $earth-color;
}

.autumn {
  background-color: $autumn;
}

.vivid {
  background-color: $vivid;
}

.yokogawa {
  background-color: $yokogawa;
}

// To use css value in js, export as the follwing
:export {
    txdetailbg: $txdetail-bg;
    rightpanewidth: $right-pane-width;
    rightpaneleft: $right-pane-left;
}

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #eebbcb !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$white:    #ffffff !default;
$gray-100: #f8f9fa;
$gray-600: #868e96;
$gray-800: #343a40;

$colors: (
  blue: $blue,
  indigo: $indigo,
  purple: $purple,
  pink: $pink,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  teal: $teal,
  cyan: $cyan,
  white: $white,
  gray: $gray-600,
  gray-dark: $gray-800,
  button-default: $button-default,
) !default;

$theme-colors: () !default;
$theme-colors: map-merge((
  default : $default,
  earthcolor : $earth-color,
  autumn : $autumn,
  vivid : $vivid,
  buttonDefault: $button-default,
), $theme-colors);

