label.control-label {
  padding-top: 7px;
}

p.error {
  color: #dc3545;
}

.word-break {
  word-break: break-all !important;
  word-wrap: break-all !important;
}

.control-line {
  min-width: 100%;
  max-width: 100%;
  min-height: 0px;
  max-height: 0px;
  visibility: hidden;
}
